
.card-body{
    margin: 0;
    padding: 0;
    height: 280px;
    width: 200px;
    display: grid;
    grid-template-rows: 1fr 0.5fr 1fr;
    justify-items: center;
    background-color: rgba(109, 109, 109, 0.1);
    border: 1px solid rgb(109, 109, 109);
    border-radius: 30px;
}

.card-english{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-end;

}

.card-transcription{
    margin: 0;
    padding: 0;
    color: rgb(109, 109, 109);
    font-weight: 400;
    font-size: 18px;
}

.card-russian{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    
}

.card-russian{
    grid-row: 3/4;
    color: #935fb6;
    font-size: 18px;
}

button{
    height: 30px;
    width: 120px;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 600;
    font-style: normal;
    background-color: #935fb6;
    border: 1px solid #935fb6;
    border-radius: 30px;
    color: white;
}


.hide{
    display: none;
}