.cardBody {
    margin: 0;
    padding: 0;
    height: 280px;
    width: 200px;
    display: grid;
    grid-template-rows: 1fr 0.5fr 1fr;
    justify-items: center;
    background-color: rgba(109, 109, 109, 0.1);
    border: 1px solid rgb(109, 109, 109);
    border-radius: 30px;
}

.cardEnglish {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-end;

}

.cardTranscription {
    margin: 0;
    padding: 0;
    color: #6d6d6d;
    font-weight: 400;
    font-size: 18px;
}

.cardRussian {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    grid-row: 3/4;
    color: rgb(147, 95, 182);
    font-size: 18px;
}

.button {
    height: 30px;
    width: 120px;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 600;
    font-style: normal;
    background-color: rgb(147, 95, 182);
    border: 1px solid rgb(147, 95, 182);
    border-radius: 30px;
    color: white;
}

    .button:hover {
        border-color: rgba(147, 95, 182, 0.502);
        background-color: rgba(147, 95, 182, 0.502);
    }
