header{
    height: 80px;
    background-color: rgba(147, 95, 182, 0.5) ;
    
}
.header{
    max-width: 900px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}