.training {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

span {
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: transparent;
}

.button:hover {
    cursor: pointer;
}